Repository beambeambeam/codex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ruff format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml}": ["prettier --write"],
  "*.py": ["ruff format"]
}

feat: update bulk upload endpoint to parse titles and descriptions from request form data
  apps/api/app/v1/document/router.py
  apps/web/src/lib/api/body-serializer.ts
Due: prettier --write, ruff format

feat: add Alert, AlertTitle, and AlertDescription components
  apps/web/src/components/ui/alert.tsx
Due: prettier --write

feat: add AlertDialog component and integrate actions in DocumentTable
  apps/web/package.json
  apps/web/src/app/(protected)/c/[id]/docs/table/actions.tsx
  apps/web/src/app/(protected)/c/[id]/docs/table/columns.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  pnpm-lock.yaml
Due: prettier --write

feat: implement document removal functionality with confirmation dialog
  apps/web/src/app/(protected)/c/[id]/docs/_lib/use-remove-documents.ts
  apps/web/src/app/(protected)/c/[id]/docs/table/actions.tsx
Due: prettier --write

refactor: simplify error handling in formatDate function
  apps/web/src/lib/format.ts
Due: prettier --write

fix: update comment to correctly ignore linting for unused TValue in ColumnMeta interface
  apps/web/src/types/data-table.ts
Due: prettier --write

fix: add eslint-disable comments for specific linting rules in FileUpload components
  apps/web/src/components/ui/file-upload.tsx
Due: prettier --write

fix: add eslint-disable comment for prop-types in Calendar component
  apps/web/src/components/ui/calendar.tsx
Due: prettier --write

refactor: extract document response conversion to a separate method for clarity
  apps/api/app/v1/collection/service.py
  apps/api/app/v1/document/service.py
Due: ruff format

fix: remove serve
  apps/api/app/main.py
  apps/api/package.json
Due: prettier --write, ruff format

feat: Add endpoint to retrieve a document by ID
  apps/api/app/v1/document/router.py
Due: ruff format

chore: update pnpm-lock.yaml to add @radix-ui/react-hover-card and react-resizable-panels
  apps/web/package.json
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
  apps/web/src/components/ui/file-upload.tsx
  apps/web/src/components/ui/hover-card.tsx
  apps/web/src/components/ui/relative-time-card.tsx
  apps/web/src/components/ui/resizable.tsx
  apps/web/src/lib/api/path.d.ts
  pnpm-lock.yaml
Due: prettier --write

feat: Add DocumentKnowledgeGraph component and integrate it into DocumentPage with tabs
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/kg.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
Due: prettier --write

feat: Add endpoint to retrieve document audit records by ID
  apps/api/app/v1/document/router.py
Due: ruff format

feat: base document audit
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/audit/flow.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/audit/index.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
  apps/web/src/lib/api/path.d.ts
Due: prettier --write

feat: implement DocumentAuditNode component for visualizing document audit details
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/audit/flow.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/audit/index.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/audit/node.tsx
Due: prettier --write

feat: enhance DocumentPage with tab state management and update tab values
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/audit/index.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
Due: prettier --write

feat: add Controls component to DocumentAuditFlow for enhanced user interaction
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/audit/flow.tsx
Due: prettier --write

feat: update DocumentPage to improve tab content labeling and add description for Graph Audit
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
Due: prettier --write

feat: enhance DocumentPage with title, description, and summary generation buttons
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
Due: prettier --write

feat: add FilePreview component for displaying file previews in DocumentPage
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
  apps/web/src/components/ui/file-preview/index.tsx
Due: prettier --write

feat: remove title and description fields from document upload schema and uploader component
  apps/web/src/app/(protected)/c/[id]/docs/upload/form.tsx
  apps/web/src/app/(protected)/c/[id]/docs/upload/uploader.tsx
Due: prettier --write

feat: remove title and description handling from bulk upload documents endpoint
  apps/api/app/v1/document/router.py
Due: ruff format

feat: enhance parseErrorDetail to return concatenated error messages from detail array
  apps/web/src/lib/utils.ts
Due: prettier --write

chore: revert back to old body-serializer
  apps/web/src/lib/api/body-serializer.ts
  apps/web/src/lib/api/path.d.ts
Due: prettier --write

feat: implement document management components including table, upload form, and actions
  apps/web/src/app/(protected)/c/[id]/docs/_components/table/actions.tsx
  apps/web/src/app/(protected)/c/[id]/docs/_components/table/columns.tsx
  apps/web/src/app/(protected)/c/[id]/docs/_components/table/index.tsx
  apps/web/src/app/(protected)/c/[id]/docs/_components/upload/form.tsx
  apps/web/src/app/(protected)/c/[id]/docs/_components/upload/uploader.tsx
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
Due: prettier --write

feat: enhance document table columns with improved cell rendering and new upload information
  apps/web/src/app/(protected)/c/[id]/docs/_components/table/columns.tsx
Due: prettier --write

feat: add file type column to document table with mime type display
  apps/web/src/app/(protected)/c/[id]/docs/_components/table/columns.tsx
Due: prettier --write

feat: improve file preview fallback with loading indicator and icon
  apps/web/src/components/ui/file-preview/index.tsx
Due: prettier --write

feat: enhance document details display with badges for description, summary, and audit
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
Due: prettier --write

feat: improve fallback display for unsupported file types with enhanced styling and messaging
  apps/web/src/components/ui/file-preview/index.tsx
Due: prettier --write

feat: enhance document title display with fallback styling for untitled documents
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
Due: prettier --write

feat: enhance collection info display with badges for description and summary
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/info.tsx
Due: prettier --write

Feature(Migration)/docs id page (#32)
  apps/api/app/v1/document/router.py
  apps/web/package.json
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/info.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/audit/flow.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/audit/index.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/audit/node.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/kg.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
  apps/web/src/app/(protected)/c/[id]/docs/_components/table/actions.tsx
  apps/web/src/app/(protected)/c/[id]/docs/_components/table/columns.tsx
  apps/web/src/app/(protected)/c/[id]/docs/_components/table/index.tsx
  apps/web/src/app/(protected)/c/[id]/docs/_components/upload/form.tsx
  apps/web/src/app/(protected)/c/[id]/docs/_components/upload/uploader.tsx
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
  apps/web/src/app/(protected)/c/[id]/docs/table/columns.tsx
  apps/web/src/components/ui/file-preview/index.tsx
  apps/web/src/components/ui/file-upload.tsx
  apps/web/src/components/ui/hover-card.tsx
  apps/web/src/components/ui/relative-time-card.tsx
  apps/web/src/components/ui/resizable.tsx
  apps/web/src/lib/api/body-serializer.ts
  apps/web/src/lib/api/path.d.ts
  apps/web/src/lib/utils.ts
  pnpm-lock.yaml
Due: prettier --write, ruff format

feat: add document tagging schema
  apps/api/alembic/versions/237631b63450_add_document_tagging.py
  apps/api/app/v1/models/document.py
Due: ruff format

feat: implement tag management endpoints and schemas for documents
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
  apps/api/app/v1/models/collection.py
  apps/web/src/lib/api/path.d.ts
Due: prettier --write, ruff format

feat: add color picker component and integrate color management features
  apps/web/package.json
  apps/web/src/components/ui/color-picker/index.tsx
  pnpm-lock.yaml
Due: prettier --write

feat: add tags tab and component to CollectionSettings
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
Due: prettier --write

feat: enhance parseErrorDetail function
  apps/web/src/lib/utils.ts
Due: prettier --write
