Repository beambeambeam/codex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, next lint --fix, next lint, ruff format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "next lint --fix", "next lint"],
  "*.{json,md,yml}": ["prettier --write"],
  "*.py": ["ruff format"]
}

feat: add LandingPage component
  .lintstagedrc.json
  apps/web/src/app/page.tsx
Due: prettier --write, next lint --fix, next lint

chore: update tsconfig.json to improve path resolution
  apps/web/tsconfig.json
Due: prettier --write

feat: add ThemeProvider and integrate next-themes for theme management
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/provider/themes.tsx
  pnpm-lock.yaml
Due: prettier --write, next lint --fix, next lint

chore: remove unused files and update layout for theme integration
  apps/web/app/favicon.ico
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/src/app/layout.tsx
  pnpm-lock.yaml
Due: prettier --write, next lint --fix, next lint

feat: add environment configuration and update LandingPage to display API URL
  apps/web/.env.example
  apps/web/package.json
  apps/web/src/app/page.tsx
  apps/web/src/env.ts
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, next lint --fix, next lint

feat: add shadcn
  apps/web/components.json
  apps/web/src/app/globals.css
  apps/web/src/components/ui/toggle-theme.tsx
  apps/web/src/lib/utils.ts
Due: prettier --write, next lint --fix, next lint

fix: update import path for utility functions in ToggleThemeButton component
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/toggle-theme.tsx
Due: prettier --write, next lint --fix, next lint

feat: add BreakpointIndicator component for responsive breakpoint display
  apps/web/src/components/dev/breakpoint-indicator.tsx
Due: prettier --write, next lint --fix, next lint

feat: add BreakpointIndicator to RootLayout for responsive display
  apps/web/src/app/layout.tsx
Due: prettier --write, next lint --fix, next lint

feat: add custom fonts and update layout for font integration
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/fonts/index.ts
  apps/web/src/fonts/line/LINESeedSansTH_W_Bd.woff
  apps/web/src/fonts/line/LINESeedSansTH_W_Rg.woff
  apps/web/src/fonts/line/LINESeedSansTH_W_Th.woff
Due: prettier --write, next lint --fix, next lint

feat: add additional weights for LineSeedSans font and update Sarabun weights
  apps/web/src/fonts/index.ts
  apps/web/src/fonts/line/LINESeedSansTH_W_He.woff
  apps/web/src/fonts/line/LINESeedSansTH_W_XBd.woff
Due: prettier --write, next lint --fix, next lint

feat: update font variables for improved typography consistency
  apps/web/src/app/globals.css
Due: none

feat: implement API versioning and health check endpoint
  apps/api/app/__init__.py
  apps/api/app/main.py
  apps/api/app/v1/__init__.py
  apps/api/app/v1/health/__init__.py
  apps/api/app/v1/health/router.py
  apps/api/package.json
Due: prettier --write, ruff format

fix: update metadata title and description for clarity; adjust font class for consistency
  apps/web/src/app/layout.tsx
Due: prettier --write, next lint --fix, next lint

feat: add logo and langing
  apps/web/public/static/logo/icon.svg
  apps/web/public/static/logo/logo-dark.svg
  apps/web/public/static/logo/logo-white.svg
  apps/web/src/app/page.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/logo.tsx
Due: prettier --write, next lint --fix, next lint

feat: add CI workflow for pull requests
  .github/workflows/ci.yml
Due: prettier --write

chore: update packageManager version from pnpm@9.0.0 to pnpm@9.8.0
  package.json
Due: prettier --write

Feature(Migration)/Base UI from old repository (#4)
  .github/workflows/ci.yml
  .lintstagedrc.json
  apps/api/app/__init__.py
  apps/api/app/main.py
  apps/api/app/v1/__init__.py
  apps/api/app/v1/health/__init__.py
  apps/api/app/v1/health/router.py
  apps/api/package.json
  apps/web/.env.example
  apps/web/app/favicon.ico
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components.json
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/public/static/logo/icon.svg
  apps/web/public/static/logo/logo-dark.svg
  apps/web/public/static/logo/logo-white.svg
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/dev/breakpoint-indicator.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/logo.tsx
  apps/web/src/components/ui/toggle-theme.tsx
  apps/web/src/env.ts
  apps/web/src/fonts/index.ts
  apps/web/src/fonts/line/LINESeedSansTH_W_Bd.woff
  apps/web/src/fonts/line/LINESeedSansTH_W_He.woff
  apps/web/src/fonts/line/LINESeedSansTH_W_Rg.woff
  apps/web/src/fonts/line/LINESeedSansTH_W_Th.woff
  apps/web/src/fonts/line/LINESeedSansTH_W_XBd.woff
  apps/web/src/lib/utils.ts
  apps/web/src/provider/themes.tsx
  apps/web/tsconfig.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, next lint --fix, next lint, ruff format

feat: add generate api query
  apps/web/package.json
  apps/web/src/lib/api/generate.ts
  apps/web/src/lib/api/path.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, next lint --fix, next lint

feat: add @tanstack/react-query
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/provider/query.tsx
  pnpm-lock.yaml
Due: prettier --write, next lint --fix, next lint

feat: add fetch client and server implementations
  apps/web/src/lib/api/body-serializer.ts
  apps/web/src/lib/api/client.ts
  apps/web/src/lib/api/server.ts
Due: prettier --write, next lint --fix, next lint

fix: rename exported client to useQueryFetchClient for clarity
  apps/web/src/lib/api/client.ts
Due: prettier --write, next lint --fix, next lint

feat: query client and cache tools
  apps/web/src/lib/query/cache.ts
  apps/web/src/provider/query.tsx
Due: prettier --write, next lint --fix, next lint

Feature(Migration)/Query function (#6)
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/lib/api/body-serializer.ts
  apps/web/src/lib/api/client.ts
  apps/web/src/lib/api/generate.ts
  apps/web/src/lib/api/path.d.ts
  apps/web/src/lib/api/server.ts
  apps/web/src/lib/query/cache.ts
  apps/web/src/provider/query.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, next lint --fix, next lint

feat: form types
  apps/web/src/types/form.ts
Due: prettier --write, next lint --fix, next lint

refactor: change FormProps to default export and remove unused properties
  apps/web/src/types/form.ts
Due: prettier --write, next lint --fix, next lint

feat: implement sign-up form with validation and UI components
  apps/web/package.json
  apps/web/src/app/(unprotected)/sign-up/form.tsx
  apps/web/src/app/(unprotected)/sign-up/page.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/input.tsx
  apps/web/src/components/ui/label.tsx
  apps/web/src/components/ui/tanstack-form.tsx
  pnpm-lock.yaml
Due: prettier --write, next lint --fix, next lint

refactor: remove password strength indicator and descriptions from sign-up form
  apps/web/src/app/(unprotected)/sign-up/form.tsx
  apps/web/src/app/(unprotected)/sign-up/page.tsx
Due: prettier --write, next lint --fix, next lint

fix: correct email validation method in sign-up form schema
  apps/web/src/app/(unprotected)/sign-up/form.tsx
Due: prettier --write, next lint --fix, next lint

feat: add sign-in form with validation and UI components
  apps/web/src/app/(unprotected)/sign-in/form.tsx
  apps/web/src/app/(unprotected)/sign-in/page.tsx
  apps/web/src/types/form.ts
Due: prettier --write, next lint --fix, next lint

feat: add alembic and base models
  apps/api/alembic.ini
  apps/api/alembic/env.py
  apps/api/alembic/script.py.mako
  apps/api/app/v1/models/__init__.py
  apps/api/app/v1/models/base.py
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: ruff format

feat: add User, Account, and Session models with relationships
  apps/api/app/v1/models/__init__.py
  apps/api/app/v1/models/user.py
Due: ruff format

feat: autogenerate user models
  apps/api/alembic/env.py
  apps/api/alembic/versions/af31a6fa90c5_add_user_account_session.py
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: ruff format

feat: implement user registration and login schemas with response handling
  apps/api/app/utils/__init__.py
  apps/api/app/utils/response.py
  apps/api/app/v1/user/__init__.py
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
Due: ruff format

feat: add configuration and database setup for PostgreSQL
  apps/api/app/config.py
  apps/api/app/db.py
Due: ruff format

feat: implement user authentication service with registration and password hashing
  apps/api/app/utils/response.py
  apps/api/app/v1/__init__.py
  apps/api/app/v1/user/dependencies.py
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/api/app/v1/user/service.py
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: ruff format

feat: implement user login functionality with authentication logic
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/api/app/v1/user/service.py
Due: ruff format

feat: sign in out and more
  apps/api/app/v1/user/dependencies.py
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/service.py
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: ruff format

feat: update user-account relationship to be one-to-one and adjust session expiration handling
  apps/api/app/v1/models/user.py
  apps/api/app/v1/user/service.py
Due: ruff format

refactor: simplify relationship definitions in User and Account models
  apps/api/app/v1/models/user.py
  apps/api/app/v1/user/service.py
Due: ruff format
