Repository beambeambeam/codex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ruff format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml}": ["prettier --write"],
  "*.py": ["ruff format"]
}

feat: add CollectionDelete component for collection deletion functionality
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/delete.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/index.tsx
Due: prettier --write

feat: implement CollectionDelete component with confirmation dialog for collection deletion
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/delete.tsx
Due: prettier --write

fix: update text styling for collection description and summary in CollectionInfo component
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/info.tsx
Due: prettier --write

feat: enhance collection deletion process with related record cleanup and redirect after deletion
  apps/api/app/v1/collection/service.py
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/delete.tsx
Due: prettier --write, ruff format

fix: simplify delete_collection method signature by removing user_id parameter
  apps/api/app/v1/collection/service.py
Due: ruff format

fix: correct spelling of 'contributor' in CollectionSettings component
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
Due: prettier --write

fix: remove unnecessary 'bg-ali' class from Book component
  apps/web/src/app/(protected)/home/_components/book/book.tsx
Due: prettier --write

Feature(Migration)/base collection (#29)
  apps/api/app/v1/collection/service.py
  apps/web/package.json
  apps/web/src/app/(protected)/c/[id]/_components/context.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/info.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/links.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/nav-user.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/delete.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/form.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/switcher.tsx
  apps/web/src/app/(protected)/c/[id]/layout.tsx
  apps/web/src/app/(protected)/c/[id]/page.tsx
  apps/web/src/app/(protected)/home/_components/book/book.tsx
  apps/web/src/app/(protected)/home/_components/book/index.tsx
  apps/web/src/app/(protected)/home/_components/canvas/node/collection-node.tsx
  apps/web/src/app/(protected)/home/_components/search.tsx
  apps/web/src/app/(protected)/home/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/components/ui/avatar-group.tsx
  apps/web/src/components/ui/dropdown-menu.tsx
  apps/web/src/components/ui/logo.tsx
  apps/web/src/components/ui/sheet.tsx
  apps/web/src/components/ui/sidebar.tsx
  apps/web/src/components/ui/tanstack-form.tsx
  apps/web/src/components/ui/tooltip.tsx
  apps/web/src/hooks/use-mobile.ts
  apps/web/src/middleware.ts
  pnpm-lock.yaml
Due: prettier --write, ruff format

Chore/Add other Collection Base (#30)
  apps/api/app/v1/collection/service.py
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
  apps/web/src/app/(protected)/home/_components/book/book.tsx
Due: prettier --write, ruff format

feat: docs page base
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
  apps/web/src/app/(protected)/c/[id]/layout.tsx
Due: prettier --write

feat: add breadcrumb component with navigation structure
  apps/web/src/components/ui/breadcrumb.tsx
Due: prettier --write

feat: add CollectionBreadcrums component and integrate Select UI component
  apps/web/package.json
  apps/web/src/app/(protected)/c/[id]/_components/breadcrums.tsx
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
  apps/web/src/components/ui/select.tsx
  pnpm-lock.yaml
Due: prettier --write

refactor: remove unused header and sidebar components from DocsPage and CollectionPage
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
  apps/web/src/app/(protected)/c/[id]/layout.tsx
  apps/web/src/app/(protected)/c/[id]/page.tsx
Due: prettier --write

fix: adjust breadcrumb separator placement in CollectionBreadcrums component
  apps/web/src/app/(protected)/c/[id]/_components/breadcrums.tsx
Due: prettier --write

feat: add loader and message for empty collection state in CollectionSwitcher component
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/switcher.tsx
Due: prettier --write

feat: enhance CollectionLinks component with dynamic routing and active link highlighting
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/links.tsx
Due: prettier --write

feat: update CollectionLinks component with new icons and remove unused links
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/links.tsx
Due: prettier --write

feat: add MIME type display mapping and human-friendly conversion function
  apps/web/src/lib/utils.ts
Due: prettier --write

feat: implement DocsPage layout with document sections and descriptions
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
Due: prettier --write

fix: correct font class for paragraph elements in DocsPage component
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
Due: prettier --write

fix: simplify delete_collection function by removing unnecessary user_id parameter
  apps/api/app/v1/collection/router.py
Due: ruff format

fix: improve empty state message and add default description in CollectionBooks component
  apps/web/src/app/(protected)/home/_components/book/index.tsx
Due: prettier --write

feat: add collection_id to documents and establish foreign key relationship
  apps/api/alembic/versions/1fc85a0f8c78_add_collection_id_to_documents.py
  apps/api/app/v1/models/collection.py
  apps/api/app/v1/models/document.py
Due: ruff format

feat: add collection_id to DocumentCreateRequest and DocumentResponse schemas
  apps/api/app/v1/collection/schemas.py
  apps/api/app/v1/collection/service.py
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
Due: ruff format

feat: implement bulk document upload with individual titles and descriptions
  apps/api/app/v1/document/router.py
Due: ruff format

feat: base of uploader
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
  apps/web/src/app/(protected)/c/[id]/docs/upload/form.tsx
  apps/web/src/app/(protected)/c/[id]/docs/upload/uploader.tsx
  apps/web/src/components/ui/file-upload.tsx
  apps/web/src/hooks/use-callback-ref.ts
  apps/web/src/hooks/use-controllable-state.ts
  apps/web/src/lib/api/path.d.ts
Due: prettier --write

feat: enhance document uploader with editable titles and descriptions
  apps/web/src/app/(protected)/c/[id]/docs/upload/form.tsx
  apps/web/src/app/(protected)/c/[id]/docs/upload/uploader.tsx
  apps/web/src/lib/utils.ts
Due: prettier --write

feat: update bulk document upload to accept separate titles and descriptions for each file
  apps/api/app/v1/document/router.py
  apps/web/src/app/(protected)/c/[id]/docs/upload/form.tsx
  apps/web/src/lib/api/body-serializer.ts
Due: prettier --write, ruff format

feat: enhance document upload form with loading state and error handling
  apps/web/src/app/(protected)/c/[id]/docs/upload/form.tsx
Due: prettier --write

feat: add data-table
  apps/web/package.json
  apps/web/src/components/data-table/date-filter.tsx
  apps/web/src/components/data-table/faceted-filter.tsx
  apps/web/src/components/data-table/header.tsx
  apps/web/src/components/data-table/index.tsx
  apps/web/src/components/data-table/pagination.tsx
  apps/web/src/components/data-table/skeleton.tsx
  apps/web/src/components/data-table/slider-filter.tsx
  apps/web/src/components/data-table/toolbar.tsx
  apps/web/src/components/data-table/view-options.tsx
  apps/web/src/components/ui/calendar.tsx
  apps/web/src/components/ui/popover.tsx
  apps/web/src/components/ui/slider.tsx
  apps/web/src/components/ui/table.tsx
  apps/web/src/config/data-table.ts
  apps/web/src/hooks/use-data-table.ts
  apps/web/src/hooks/use-debounced-callback.ts
  apps/web/src/lib/data-table.ts
  apps/web/src/lib/format.ts
  apps/web/src/lib/parsers.ts
  apps/web/src/types/data-table.ts
  pnpm-lock.yaml
Due: prettier --write

feat: add pagination support for retrieving documents by collection
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
Due: ruff format

feat: update bulk document upload to require collection ID as UUID and pass it from the upload form
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/service.py
  apps/web/src/app/(protected)/c/[id]/docs/upload/form.tsx
Due: prettier --write, ruff format

feat: implement DocumentTable component with data fetching and rendering
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
  apps/web/src/app/(protected)/c/[id]/docs/table/columns.tsx
  apps/web/src/app/(protected)/c/[id]/docs/table/index.tsx
Due: prettier --write

feat: test
  apps/web/package.json
  apps/web/src/app/(protected)/c/[id]/docs/upload/form.tsx
  apps/web/src/components/data-table/advanced-toolbar.tsx
  apps/web/src/components/data-table/faceted-filter.tsx
  apps/web/src/components/data-table/filter-menu.tsx
  apps/web/src/components/data-table/range-filter.tsx
  apps/web/src/hooks/use-data-table.ts
  apps/web/src/lib/api/path.d.ts
  apps/web/src/lib/id.ts
  pnpm-lock.yaml
Due: prettier --write

feat: add title and description columns to document table with filtering support
  apps/web/src/app/(protected)/c/[id]/docs/table/columns.tsx
Due: prettier --write

feat: remove advanced filtering option from DocumentTable configuration
  apps/web/src/app/(protected)/c/[id]/docs/table/index.tsx
Due: prettier --write

feat: replace custom debounced callback with use-debounce library and remove unused file
  apps/web/src/components/data-table/filter-menu.tsx
  apps/web/src/hooks/use-data-table.ts
  apps/web/src/hooks/use-debounced-callback.ts
Due: prettier --write

feat: refactor graph hooks import path and add use-graph hook implementation
  apps/web/src/app/(protected)/home/_components/canvas/flow.tsx
  apps/web/src/app/(protected)/home/_components/canvas/index.tsx
  apps/web/src/hooks/use-graph.tsx
Due: prettier --write

feat: update DocumentTable configuration to disable manual filtering, sorting, and pagination
  apps/web/src/app/(protected)/c/[id]/docs/table/index.tsx
Due: prettier --write

feat: add cache invalidation after successful document upload
  apps/web/src/app/(protected)/c/[id]/docs/upload/form.tsx
Due: prettier --write
