Repository beambeambeam/codex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ruff format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml}": ["prettier --write"],
  "*.py": ["ruff format"]
}

refactor: improve session management and user creation with atomic transactions
  apps/api/app/v1/user/service.py
Due: ruff format

feat: enhance API path definitions with detailed descriptions and new user request/response schemas
  apps/web/src/lib/api/path.d.ts
Due: prettier --write

feat: add Toaster component using Sonner for notifications and update dependencies
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/ui/sonner.tsx
  pnpm-lock.yaml
Due: prettier --write

feat: implement sign-in form with success and error notifications using Sonner
  apps/web/src/app/(unprotected)/sign-in/form.tsx
  apps/web/src/lib/utils.ts
Due: prettier --write

refactor: simplify SignInForm usage by removing default values
  apps/web/src/app/(unprotected)/sign-in/page.tsx
Due: prettier --write

feat: add authentication middleware to protect routes and check user login status
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/web/src/lib/api/path.d.ts
  apps/web/src/middleware.ts
Due: prettier --write, ruff format

fix: update staleTime in QueryClient to Infinity for improved caching
  apps/web/src/provider/query.tsx
Due: prettier --write

feat: implement user context with zustand for state management and add HomePage component
  apps/web/package.json
  apps/web/src/app/(protected)/home/page.tsx
  apps/web/src/app/(unprotected)/sign-in/form.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/store/user.tsx
  pnpm-lock.yaml
Due: prettier --write

feat: enhance HomePage with SignOutButton and add various loaders for improved UI feedback
  apps/web/src/app/(protected)/home/page.tsx
  apps/web/src/app/(unprotected)/sign-in/form.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/sign-out.tsx
  apps/web/src/components/ui/loader.tsx
Due: prettier --write

feat: add loading state to SignInForm and SignUpForm with Loader component for better user feedback
  apps/web/src/app/(unprotected)/sign-in/form.tsx
  apps/web/src/app/(unprotected)/sign-up/form.tsx
Due: prettier --write

feat: add UserEditRequest and UserEditResponse schemas for user profile updates
  apps/api/app/v1/user/schemas.py
Due: ruff format

feat: add user edit endpoint and schemas for updating user information
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/api/app/v1/user/service.py
Due: ruff format

feat: edit display
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/web/package.json
  apps/web/src/app/(protected)/home/page.tsx
  apps/web/src/components/settings/display-form.tsx
  apps/web/src/components/settings/index.tsx
  apps/web/src/components/ui/avatar.tsx
  apps/web/src/components/ui/dialog.tsx
  apps/web/src/components/ui/editable.tsx
  apps/web/src/components/ui/scroller.tsx
  apps/web/src/components/ui/separator.tsx
  apps/web/src/components/ui/tabs.tsx
  apps/web/src/components/visually-hidden-input.tsx
  apps/web/src/lib/api/path.d.ts
  apps/web/src/lib/compose-refs.ts
  apps/web/src/store/user.tsx
  pnpm-lock.yaml
Due: prettier --write, ruff format

refactor: simplify dependencies in callbacks for Editable components
  apps/web/src/components/ui/editable.tsx
Due: prettier --write

feat: add SKIP_ENV_VALIDATION to build outputs and global environment variables
  turbo.json
Due: prettier --write

refactor: define UseFieldContextReturn interface for improved type safety in useFieldContext
  apps/web/src/components/ui/tanstack-form.tsx
Due: prettier --write

feat: add example environment variables for PostgreSQL configuration
  apps/api/.env.example
Due: none

feat: integrate API mutation for sign-up form submission with success and error handling
  apps/web/src/app/(unprotected)/sign-up/form.tsx
Due: prettier --write

refactor: remove debug log for authentication check in middleware
  apps/web/src/middleware.ts
Due: prettier --write

fix: type error
  apps/api/app/v1/user/service.py
Due: ruff format

build: add ty
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: none

fix: handle empty user fields in responses
  apps/api/app/v1/user/router.py
Due: ruff format

chore: add initial VSCode settings configuration
  .vscode/settings.json
Due: prettier --write

build: add type checking script to package.json
  apps/api/package.json
Due: prettier --write

fix: update CI workflow to check types before build step
  .github/workflows/ci.yml
Due: prettier --write

build: enhance CI workflow with concurrency settings and lint step
  .github/workflows/ci.yml
Due: prettier --write

build: add step to install uv in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

Build/add ty (#10)
  .github/workflows/ci.yml
  .vscode/settings.json
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/service.py
  apps/api/package.json
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: prettier --write, ruff format

style: more simple sign in
  apps/web/src/app/(unprotected)/sign-in/form.tsx
  apps/web/src/app/(unprotected)/sign-in/page.tsx
  apps/web/src/app/(unprotected)/sign-up/form.tsx
  apps/web/src/app/(unprotected)/sign-up/page.tsx
  apps/web/src/components/ui/tanstack-form.tsx
Due: prettier --write

style: more simple sign in (#11)
  apps/web/src/app/(unprotected)/sign-in/form.tsx
  apps/web/src/app/(unprotected)/sign-in/page.tsx
  apps/web/src/app/(unprotected)/sign-up/form.tsx
  apps/web/src/app/(unprotected)/sign-up/page.tsx
  apps/web/src/components/ui/tanstack-form.tsx
Due: prettier --write

feat: add collection audits endpoint and response schema
  apps/api/app/v1/collection/router.py
  apps/api/app/v1/collection/schemas.py
  apps/api/app/v1/collection/service.py
Due: ruff format

feat: add collection management endpoints and schemas
  apps/api/app/v1/__init__.py
  apps/api/app/v1/collection/dependencies.py
  apps/api/app/v1/collection/router.py
  apps/api/app/v1/collection/schemas.py
Due: ruff format

feat: implement collection service and schemas for collection management
  apps/api/app/v1/collection/__init__.py
  apps/api/app/v1/collection/schemas.py
  apps/api/app/v1/collection/service.py
Due: ruff format

feat: add collection and collection audit models with migration
  apps/api/alembic/versions/8c2bd1b641f3_add_collection_and_collection_audits.py
  apps/api/app/v1/models/__init__.py
  apps/api/app/v1/models/collection.py
  apps/api/app/v1/models/enum.py
Due: ruff format

feat: implement update and delete collection methods with auditing
  apps/api/app/v1/collection/router.py
  apps/api/app/v1/collection/service.py
Due: ruff format

fix: update delete action in collection service to use DELETE enum
  apps/api/app/v1/collection/service.py
  apps/api/app/v1/models/enum.py
Due: ruff format

feat: add collection permission and audit models with enums
  apps/api/app/v1/models/collection.py
  apps/api/app/v1/models/enum.py
Due: ruff format

feat: add collection permission and audit tables
  apps/api/alembic/versions/12a81fee679b_add_collection_permissions.py
Due: ruff format

feat: implement collection permissions management with CRUD operations
  apps/api/app/v1/collection/router.py
  apps/api/app/v1/collection/schemas.py
  apps/api/app/v1/collection/service.py
Due: ruff format
