Repository beambeambeam/codex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ruff format

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml}": ["prettier --write"],
  "*.py": ["ruff format"]
}

feat: adding TriangleAlertIcon to the Danger Zone header for improved visual emphasis
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/index.tsx
Due: prettier --write

feat: integrate useQueryState for sidebar settings management in CollectionLinks component
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/links.tsx
Due: prettier --write

feat: add user AI preference model, schema, and endpoints for managing user preferences
  apps/api/alembic/versions/1f94d6f7fc3f_add_user_ai_preference.py
  apps/api/app/v1/models/enum.py
  apps/api/app/v1/models/user.py
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/api/app/v1/user/service.py
Due: ruff format

feat: implement update endpoint for user AI preferences
  apps/api/alembic/versions/1f94d6f7fc3f_add_user_ai_preference.py
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/api/app/v1/user/service.py
Due: ruff format

feat: add @radix-ui/react-radio-group component
  apps/web/package.json
  apps/web/src/components/ui/radio-group.tsx
  pnpm-lock.yaml
Due: prettier --write

feat: add AI preferences management to settings component
  apps/web/src/components/settings/ai/form.tsx
  apps/web/src/components/settings/ai/index.tsx
  apps/web/src/components/settings/index.tsx
  apps/web/src/lib/api/path.d.ts
Due: prettier --write

refactor: rename AiPreferenceIndex to AiPreference and update layout for AI preferences form
  apps/web/src/components/settings/ai/form.tsx
  apps/web/src/components/settings/ai/index.tsx
  apps/web/src/components/settings/index.tsx
Due: prettier --write

refactor: update AI preferences form to use MultipleSelector for language and stopwords
  apps/web/src/components/settings/ai/form.tsx
  apps/web/src/components/settings/ai/index.tsx
Due: prettier --write

refactor: enhance AI preferences form with improved labels and cache invalidation
  apps/web/src/components/settings/ai/form.tsx
  apps/web/src/components/settings/ai/index.tsx
Due: prettier --write

feat: add CollectionAiPreference model and migration for AI preferences management
  apps/api/alembic/versions/d04fb4666d74_add_collection_ai_preference.py
  apps/api/app/v1/models/collection.py
Due: ruff format

feat: add CollectionAiPreferenceRequest and CollectionAiPreferenceResponse models for AI preferences
  apps/api/app/v1/collection/schemas.py
Due: ruff format

feat: implement CRUD operations for Collection AI preferences in CollectionService
  apps/api/app/v1/collection/service.py
Due: ruff format

feat: add endpoints and UI for managing collection AI preferences, retrieval, update, and deletion
  apps/api/app/v1/collection/router.py
  apps/api/app/v1/collection/service.py
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/ai/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
  apps/web/src/lib/api/path.d.ts
Due: prettier --write, ruff format

refactor: enhance UI of settings components with improved layout and badges for better clarity
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/ai/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/form.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
Due: prettier --write

refactor: simplify DocsPage layout by removing unnecessary elements and adjusting padding
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
Due: prettier --write

feat: add scalr
  apps/api/app/main.py
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: ruff format

feat: add scalr (#38)
  apps/api/app/main.py
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: ruff format

feat: add rulers vibe rules
  .ruler/architecture.md
  .ruler/backend.md
  .ruler/frontend.md
  .ruler/mcp.json
  .ruler/project.md
  .ruler/ruler.toml
Due: prettier --write

refactor: styling to pep8
  apps/api/alembic/env.py
  apps/api/alembic/versions/0537c969580e_add_resource_type.py
  apps/api/alembic/versions/12a81fee679b_add_collection_permissions.py
  apps/api/alembic/versions/1fc85a0f8c78_add_collection_id_to_documents.py
  apps/api/alembic/versions/237631b63450_add_document_tagging.py
  apps/api/alembic/versions/433902e02bd0_add_file.py
  apps/api/alembic/versions/7893afe17274_add_document_and_knowledge_graph.py
  apps/api/alembic/versions/7f0a154290d6_add_chunk.py
  apps/api/alembic/versions/8c2bd1b641f3_add_collection_and_collection_audits.py
  apps/api/alembic/versions/a3235e2c5bff_add_document_audit.py
  apps/api/alembic/versions/af31a6fa90c5_add_user_account_session.py
  apps/api/alembic/versions/ba4694f23a85_remove_create_at_and_update_at.py
  apps/api/app/main.py
  apps/api/app/utils/response.py
  apps/api/app/v1/__init__.py
  apps/api/app/v1/collection/dependencies.py
  apps/api/app/v1/collection/router.py
  apps/api/app/v1/collection/schemas.py
  apps/api/app/v1/collection/service.py
  apps/api/app/v1/document/dependencies.py
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
  apps/api/app/v1/models/__init__.py
  apps/api/app/v1/models/collection.py
  apps/api/app/v1/models/document.py
  apps/api/app/v1/models/file.py
  apps/api/app/v1/models/knowledge_graph.py
  apps/api/app/v1/models/user.py
  apps/api/app/v1/schemas/graph.py
  apps/api/app/v1/storage/dependencies.py
  apps/api/app/v1/storage/router.py
  apps/api/app/v1/storage/schemas.py
  apps/api/app/v1/storage/service.py
  apps/api/app/v1/user/__init__.py
  apps/api/app/v1/user/dependencies.py
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/api/app/v1/user/service.py
  apps/api/pyproject.toml
Due: ruff format

fix: update exclude list to include 'alembic' in dev dependencies
  apps/api/pyproject.toml
Due: none

feat: add initialization script for database extensions with pgvector
  init-db.sql
Due: none

feat: add unique AI preference tables for collections and users
  apps/api/alembic/versions/cc331805ccbc_add_unique_ai_preference.py
Due: ruff format

feat: implement upsert functionality for collection AI preferences and add unique constraint
  apps/api/alembic/versions/befe5f32dce6_add_unique_constraint_to_collection_ai_.py
  apps/api/app/v1/collection/router.py
  apps/api/app/v1/collection/service.py
  apps/api/app/v1/models/collection.py
Due: ruff format

feat: enable attribute mapping in CollectionAiPreferenceResponse schema
  apps/api/app/v1/collection/schemas.py
Due: ruff format

refactor: streamline preference attribute assignment in UserService
  apps/api/app/v1/user/service.py
Due: ruff format

Feature/custom ai user collection (#37)
  apps/api/alembic/versions/1f94d6f7fc3f_add_user_ai_preference.py
  apps/api/alembic/versions/befe5f32dce6_add_unique_constraint_to_collection_ai_.py
  apps/api/alembic/versions/cc331805ccbc_add_unique_ai_preference.py
  apps/api/alembic/versions/d04fb4666d74_add_collection_ai_preference.py
  apps/api/app/v1/collection/router.py
  apps/api/app/v1/collection/schemas.py
  apps/api/app/v1/collection/service.py
  apps/api/app/v1/models/collection.py
  apps/api/app/v1/models/enum.py
  apps/api/app/v1/models/user.py
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/api/app/v1/user/service.py
  apps/web/package.json
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/links.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/ai/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/form.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
  apps/web/src/app/(protected)/c/[id]/docs/page.tsx
  apps/web/src/app/(protected)/c/[id]/layout.tsx
  apps/web/src/app/(protected)/home/_components/create/index.tsx
  apps/web/src/app/(protected)/home/page.tsx
  apps/web/src/components/settings/ai/form.tsx
  apps/web/src/components/settings/ai/index.tsx
  apps/web/src/components/settings/index.tsx
  apps/web/src/components/ui/radio-group.tsx
  apps/web/src/lib/api/path.d.ts
  init-db.sql
  pnpm-lock.yaml
Due: prettier --write, ruff format
