Repository beambeambeam/codex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ruff format

feat: enhance document and user schemas with detailed user info and knowledge graph support
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
  apps/api/app/v1/schemas/graph.py
  apps/api/app/v1/user/schemas.py
Due: ruff format

refactor: remove created_at and updated_at fields from Document model and migration script
  apps/api/alembic/versions/ba4694f23a85_remove_create_at_and_update_at.py
  apps/api/app/v1/models/document.py
Due: ruff format

feat: implement DocumentAudit schema and service for tracking document actions
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
Due: ruff format

refactor: remove unused document creation dependency and related logic
  apps/api/app/v1/document/dependencies.py
Due: ruff format

feat: add document deletion endpoint and implement audit logging for deletions
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/service.py
  apps/api/app/v1/models/document.py
Due: ruff format

feat: refactor user info retrieval and add document retrieval method
  apps/api/app/v1/document/service.py
Due: ruff format

feat: add resource column to File model and create migration for resource type
  apps/api/alembic/versions/0537c969580e_add_resource_type.py
  apps/api/alembic/versions/ba4694f23a85_remove_create_at_and_update_at.py
  apps/api/app/v1/models/file.py
Due: ruff format

feat: add FileResourceEnum and update file upload logic to include resource type
  apps/api/app/v1/document/router.py
  apps/api/app/v1/models/__init__.py
  apps/api/app/v1/models/enum.py
  apps/api/app/v1/storage/router.py
  apps/api/app/v1/storage/schemas.py
  apps/api/app/v1/storage/service.py
Due: ruff format

Feat/add resource file (#23)
  apps/api/alembic/versions/0537c969580e_add_resource_type.py
  apps/api/alembic/versions/7893afe17274_add_document_and_knowledge_graph.py
  apps/api/alembic/versions/7f0a154290d6_add_chunk.py
  apps/api/alembic/versions/a3235e2c5bff_add_document_audit.py
  apps/api/alembic/versions/ba4694f23a85_remove_create_at_and_update_at.py
  apps/api/app/v1/__init__.py
  apps/api/app/v1/document/__init__.py
  apps/api/app/v1/document/dependencies.py
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
  apps/api/app/v1/models/__init__.py
  apps/api/app/v1/models/document.py
  apps/api/app/v1/models/enum.py
  apps/api/app/v1/models/file.py
  apps/api/app/v1/models/knowledge_graph.py
  apps/api/app/v1/models/user.py
  apps/api/app/v1/schemas/graph.py
  apps/api/app/v1/storage/router.py
  apps/api/app/v1/storage/schemas.py
  apps/api/app/v1/storage/service.py
  apps/api/app/v1/user/schemas.py
  apps/api/app/v1/user/service.py
  apps/api/pyproject.toml
  apps/api/uv.lock
Due: ruff format

chore: remove example environment files and update package scripts for dotenv usage
  apps/api/.env.example
  apps/web/.env.example
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update authentication to use email instead of username for login
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/api/app/v1/user/service.py
Due: ruff format

chore: update .env.example with API URL configuration
  .env.example
Due: none

docs: update README with development setup and service information
  README.md
Due: prettier --write

fix: improve error messages for user registration and updates
  apps/api/app/v1/user/service.py
Due: ruff format

Feature/Shared ENV files. (#24)
  .env.example
  README.md
  apps/api/.env.example
  apps/api/app/v1/user/router.py
  apps/api/app/v1/user/schemas.py
  apps/api/app/v1/user/service.py
  apps/web/.env.example
  package.json
  pnpm-lock.yaml
Due: prettier --write, ruff format

fix: unprocess in sign-in
  apps/web/src/app/(unprotected)/sign-in/form.tsx
  apps/web/src/app/(unprotected)/sign-up/form.tsx
  apps/web/src/lib/api/path.d.ts
Due: prettier --write

refactor: enhance HomePage layout and user greeting
  apps/web/src/app/(protected)/home/page.tsx
Due: prettier --write

feat: add @xyflow/react dependency and implement React Flow styles
  apps/web/package.json
  apps/web/src/app/globals.css
  pnpm-lock.yaml
Due: prettier --write

feat: implement graph functionality with React Flow and ELK layout
  apps/web/package.json
  apps/web/src/app/(protected)/home/canvas/flow.tsx
  apps/web/src/app/(protected)/home/canvas/index.tsx
  apps/web/src/app/(protected)/home/canvas/node/collection-node.tsx
  apps/web/src/app/(protected)/home/page.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/base-node.tsx
  apps/web/src/hooks/useGraph.tsx
  apps/web/src/lib/graph/elk.ts
  pnpm-lock.yaml
Due: prettier --write

feat: implement HomeCanvas and HomeCanvasFlow components with graph functionality
  apps/web/src/app/(protected)/home/_components/canvas/flow.tsx
  apps/web/src/app/(protected)/home/_components/canvas/index.tsx
  apps/web/src/app/(protected)/home/_components/canvas/node/collection-node.tsx
  apps/web/src/app/(protected)/home/page.tsx
Due: prettier --write

fix: update CollectionNode props to be optional and improve default rendering
  apps/web/src/app/(protected)/home/_components/canvas/flow.tsx
  apps/web/src/app/(protected)/home/_components/canvas/node/collection-node.tsx
Due: prettier --write

feat: add CenterNode component and integrate it into HomeCanvas with dynamic props
  apps/web/src/app/(protected)/home/_components/canvas/flow.tsx
  apps/web/src/app/(protected)/home/_components/canvas/index.tsx
  apps/web/src/app/(protected)/home/_components/canvas/node/center-node.tsx
  apps/web/src/app/(protected)/home/page.tsx
Due: prettier --write

feat: enhance HomeCanvas by integrating ReactFlowProvider and updating initialEdges logic
  apps/web/src/app/(protected)/home/_components/canvas/index.tsx
Due: prettier --write

feat: add Handle component to CollectionNode for improved graph functionality
  apps/web/src/app/(protected)/home/_components/canvas/node/collection-node.tsx
Due: prettier --write

feat: implement layout application in HomeCanvasFlow for improved node positioning
  apps/web/src/app/(protected)/home/_components/canvas/flow.tsx
Due: prettier --write

feat: update layout algorithm and edge options in graph rendering for improved performance
  apps/web/src/app/(protected)/home/_components/canvas/flow.tsx
  apps/web/src/app/(protected)/home/_components/canvas/index.tsx
  apps/web/src/app/(protected)/home/_components/canvas/node/center-node.tsx
  apps/web/src/app/(protected)/home/_components/canvas/node/collection-node.tsx
  apps/web/src/lib/graph/elk.ts
Due: prettier --write

feat: integrate useReactFlow for improved layout handling in HomeCanvasFlow
  apps/web/src/app/(protected)/home/_components/canvas/flow.tsx
Due: prettier --write

feat: update CollectionNode width for improved layout consistency
  apps/web/src/app/(protected)/home/_components/canvas/node/collection-node.tsx
Due: prettier --write

feat: add nuqs dependency and integrate NuqsAdapter in RootLayout for enhanced functionality
  apps/web/package.json
  apps/web/src/app/layout.tsx
  pnpm-lock.yaml
Due: prettier --write

feat: remove HomeCanvasFlow component to streamline canvas functionality
  apps/web/src/app/(protected)/home/canvas/flow.tsx
Due: prettier --write

feat: add search functionality for collections with pagination and fuzzy matching
  apps/api/app/v1/collection/router.py
  apps/api/app/v1/collection/service.py
Due: ruff format

feat: add HomeSearch component and integrate command dialog for enhanced search functionality
  apps/web/package.json
  apps/web/src/app/(protected)/home/_components/search.tsx
  apps/web/src/app/(protected)/home/page.tsx
  apps/web/src/components/ui/command.tsx
  pnpm-lock.yaml
Due: prettier --write

feat: enhance HomeSearch component with improved state management for search functionality
  apps/web/src/app/(protected)/home/_components/search.tsx
Due: prettier --write

feat: add shouldFilter prop to CommandDialog for enhanced filtering functionality
  apps/web/src/components/ui/command.tsx
Due: prettier --write

chore: add use-debounce package version 10.0.5 with peer dependency on react
  apps/web/package.json
  apps/web/src/app/(protected)/home/_components/search.tsx
  apps/web/src/components/ui/skeleton.tsx
  apps/web/src/lib/api/path.d.ts
  pnpm-lock.yaml
Due: prettier --write

feat: implement useDebouncedSearch hook for improved search input handling
  apps/web/src/app/(protected)/home/_components/search.tsx
  apps/web/src/lib/hooks/useDebouncedSearch.ts
Due: prettier --write

feat: add CreateCollectionForm and CreateCollectionDialog component
  apps/web/src/app/(protected)/home/_components/create/form.tsx
  apps/web/src/app/(protected)/home/_components/create/index.tsx
  apps/web/src/app/(protected)/home/page.tsx
  apps/web/src/components/ui/textarea.tsx
Due: prettier --write

feat: enhance title generation in CreateCollectionForm for better uniqueness
  apps/web/src/app/(protected)/home/_components/create/form.tsx
Due: prettier --write

feat: enhance CollectionNode with Badge component for improved description and summary display
  apps/web/src/app/(protected)/home/_components/canvas/node/collection-node.tsx
  apps/web/src/components/ui/badge.tsx
  apps/web/src/components/ui/pill.tsx
Due: prettier --write

fix: correct cache invalidation method in CreateCollectionForm on successful collection creation
  apps/web/src/app/(protected)/home/_components/create/form.tsx
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml})
  ruff format: any of: *.py
