Repository beambeambeam/codex: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, ruff format

feat: implement tag management UI with creation and listing functionality
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/form.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/list.tsx
  apps/web/src/components/ui/color-picker/index.tsx
Due: prettier --write

fix: update TABS_TRIGGER_CLASSNAME in CollectionSettings for improved styling and hover effects
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
Due: prettier --write

feat: enhance CollectionTag component with new TagsIcon and improved styling
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
Due: prettier --write

feat: enhance color picker component with improved error handling and RGBA to HSL conversion
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/form.tsx
  apps/web/src/components/ui/color-picker/index.tsx
Due: prettier --write

fix: remove unnecessary class from Existing Tags
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
Due: prettier --write

feat: update TagList component with TagsIcon and improved no tags message styling
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/list.tsx
Due: prettier --write

feat: refactor tag creation to use generateRandomColor utility for default color
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/form.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
  apps/web/src/lib/utils.ts
Due: prettier --write

feat: add UsersIcon and enhance contributor display with a badge in CollectionNode component
  apps/web/src/app/(protected)/home/_components/canvas/node/collection-node.tsx
Due: prettier --write

feat: rename useDebouncedSearch hook file and update import path in HomeSearch component
  apps/web/src/app/(protected)/home/_components/search.tsx
  apps/web/src/lib/hooks/use-debounced-search.ts
Due: prettier --write

feat: new color picker
  apps/web/package.json
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/form.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
  apps/web/src/components/ui/color-picker.tsx
  apps/web/src/components/ui/color-picker/index.tsx
  apps/web/src/lib/hooks/use-forwarded-ref.tsx
  pnpm-lock.yaml
Due: prettier --write

feat: replace Pill components with Badge for user display and file type
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
Due: prettier --write

feat: add DocumentTags component for managing document tags with editing functionality
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/tags.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
  apps/web/src/components/ui/multiselect.tsx
Due: prettier --write

feat: implement update_document_tags endpoint and associated schema for bulk tag updates
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/tags.tsx
  apps/web/src/lib/api/path.d.ts
Due: prettier --write, ruff format

feat: add generateRandomColor utility and integrate it into tag creation process
  apps/api/app/utils/color.py
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/tags.tsx
Due: prettier --write, ruff format

feat: refactor DocumentPage to use InDepth component for displaying description and summary
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
Due: prettier --write

feat: enhance InDepth component by adding EditIcon for description
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/tags.tsx
Due: prettier --write

feat: add Save and Cancel buttons to InDepth component for improved user interaction
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth.tsx
Due: prettier --write

feat: implement document update functionality with new API endpoint and form component
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth/form.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth/index.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
  apps/web/src/lib/api/path.d.ts
Due: prettier --write, ruff format

feat: update button styles in DocumentTags and InDepth components for consistency and improved UI
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth/index.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/tags.tsx
  apps/web/src/components/ui/button.tsx
Due: prettier --write

feat: enhance DocumentUpdateForm with Badge components for labels and add Cancel button
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth/form.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth/index.tsx
Due: prettier --write

feat: refactor TagForm component to remove closeDialog
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/form.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/list.tsx
Due: prettier --write

feat: extend FormProps interface to include ExternalFormProps
  apps/web/src/types/form.ts
Due: prettier --write

feat: refactor TagForm and CollectionTag components to support create and edit modes
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/form.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/list.tsx
  apps/web/src/types/form.ts
Due: prettier --write

refactor: simplify CollectionTag component
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
Due: prettier --write

feat: enhance CollectionInfo and CollectionTag components with improved UI elements
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
Due: prettier --write

fix: update tab state management in CollectionSettings component for improved functionality
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
Due: prettier --write

feat: enhance DocumentPage layout by adding margin to TabsList
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
Due: prettier --write

style: update SelectTrigger in CollectionBreadcrums component
  apps/web/src/app/(protected)/c/[id]/_components/breadcrums.tsx
Due: prettier --write

feat: add Tags column to document table with hover card for additional tags
  apps/web/src/app/(protected)/c/[id]/docs/_components/table/columns.tsx
  apps/web/src/lib/utils.ts
Due: prettier --write

fix: ensure collection_id is a UUID in tag creation
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/service.py
Due: ruff format

fix: remove unnecessary cmdk-empty attribute from CommandEmpty component
  apps/web/src/components/ui/multiselect.tsx
Due: prettier --write

feat: implement replace_document_tags method to streamline tag management for documents
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/service.py
Due: ruff format

feat: add duplicate tag prevention in create_tag method
  apps/api/app/v1/document/service.py
Due: ruff format

fix: remove unnecessary ID generation for DocumentTag creation
  apps/api/app/v1/document/service.py
Due: ruff format

Feature/Taggings (#36)
  apps/api/alembic/versions/237631b63450_add_document_tagging.py
  apps/api/app/utils/color.py
  apps/api/app/v1/document/router.py
  apps/api/app/v1/document/schemas.py
  apps/api/app/v1/document/service.py
  apps/api/app/v1/models/collection.py
  apps/api/app/v1/models/document.py
  apps/web/package.json
  apps/web/src/app/(protected)/c/[id]/_components/breadcrums.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/form.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/index.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/tags/list.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth/form.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/in-depth/index.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/_components/tags.tsx
  apps/web/src/app/(protected)/c/[id]/docs/[doc_id]/page.tsx
  apps/web/src/app/(protected)/c/[id]/docs/_components/table/columns.tsx
  apps/web/src/app/(protected)/home/_components/canvas/node/collection-node.tsx
  apps/web/src/app/(protected)/home/_components/search.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/components/ui/color-picker.tsx
  apps/web/src/components/ui/multiselect.tsx
  apps/web/src/lib/api/path.d.ts
  apps/web/src/lib/hooks/use-debounced-search.ts
  apps/web/src/lib/hooks/use-forwarded-ref.tsx
  apps/web/src/lib/utils.ts
  apps/web/src/types/form.ts
  pnpm-lock.yaml
Due: prettier --write, ruff format

style: enhance Settings component with improved styling and layout adjustments
  apps/web/src/components/settings/index.tsx
Due: prettier --write

feat: add ToggleThemeButton to HomePage and adjust CreateCollectionDialog button size
  apps/web/src/app/(protected)/home/_components/create/index.tsx
  apps/web/src/app/(protected)/home/page.tsx
  apps/web/src/components/settings/index.tsx
Due: prettier --write

feat: integrate ToggleThemeButton into CollectionLayout
  apps/web/src/app/(protected)/c/[id]/layout.tsx
Due: prettier --write

fix: simplify sidebar link labels for clarity
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/links.tsx
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/info/index.tsx
Due: prettier --write

fix: update sidebar tab label from 'Project' to 'Collection' for improved clarity
  apps/web/src/app/(protected)/c/[id]/_components/side-bar/settings/index.tsx
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml})
  ruff format: any of: *.py
